
Iniciar Dosbox.
Cuando este Windows95 iniciado va a saltar un cartel diciendo que no puede arrancar el juego.
Apretar ALT e ir a DRIVES.
Apretar en D e ir a montar imagen.
Cuando pida locacion de archivo ir a CD y ahi se encuentra la imagen del juego. (ACE)
Una vez montada la imagen hace doble click en el icono de Ace Ventura.
Listo a jugar.







by BillyTheKiD!